@namespace AudioProxy.Pages
@page "/About/Readme"
@layout AboutLayout

<h1>What is this Application capable of</h1>
<p>
    In order to configure Audioproxy you will need to understand what it is and how it works first. <br />
    Using this application you can do the following:<br />
    - Set up sound effects from several sources (Currently only files are supported)<br />
    - Record Audio from up to 5 Input Devices<br />
    - Play Sound Effects and Inputs to up to 5 Output Devices<br />
    - Use System Wide Hotkeys to Start & Stop Sounds/Inputs<br />
    - Use System Wide Hotkeys to Enable & Disable Audio Devices (Input & Output) on the fly<br />
</p>
<h1>What can you use it for</h1>
<p>
    The main purpose is a Soundboard for Games / Voice Chat<br />
    Using this you can play sound effects while still being able to talk uninterrupted<br />
    Sounds like a lot of fun, right?<br />
</p>
<h1>Setup Guide</h1>
<p>
    Well I think that should not be that hard. <br />
    Right?<br />
    Right.......
</p>